
:root {
    --primary: #2F3990;
    --secondary: #F4F5F7;
    --bg: #F6F7FB;
    --dark: #000;
}
body {
    padding: 0px;
    margin: 0px;
    font-family: 'Inter';
    background-color: var(--bg);
}
.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.text-center {
    text-align: center;
}

.card {
    background-color: #fff;
    min-height: 250px;
    max-width: 1605px;
    width: 100%;
    box-sizing: border-box;
    padding: 60px;
    border-radius: 8px;
    box-shadow: 10px 10px 20px #cecece;
}
.card-done {
    background-color: #fff;
    min-height: 250px;
    max-width: 623px;
    box-sizing: border-box;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 10px 10px 20px #cecece;
}
.card-title {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    color: #3845B3;
    line-height: 48.8px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.go-to-home {
    margin-top: 30px;
}
.go-to-home button {
    font-size: 16px;
    color: #fff;
    background-color: var(--primary);
    padding: 3px 53px;
    border: none;
    line-height: 23.68px;
    border-radius: 4px;
    cursor: pointer;
}
.left-wrapper {
    width: 590px;
    margin-right: 60px;
    text-align: center;
}
.mt-10 {
    margin-top: 10px;
}
.opacity-6 {
    opacity: 0.6;
}
.badge {
    display: flex;
    align-items: center;
    height: 30px;
    border-radius: 8px;
    padding: 20px;
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 20px;
    background-color: var(--secondary);
}
.badge.active {
    color: var(--primary);
}
.flex {
    display: flex;
}
.jcb {
    justify-content: space-between;
}
.editor-wrapper {
    width: calc(100% - 590px);
    color: #5CF854;
    background-color: black;
    border-radius: 4px;
    position: relative;
}
.style-scroll::-webkit-scrollbar-track {
    background-color: #f5f5f5;
}
.style-scroll::-webkit-scrollbar {
    width: 4px;
    height: 2px;
    background-color: red;
    border-radius: 8px;
}
.style-scroll::-webkit-scrollbar-thumb {
    background-color: #959595;
    border-radius: 8px; 
}
.downloadLog-wrapper {
    background-color: #ffffff35;
    padding: 15px 15px;
    position: absolute;
    width: calc(100% - 30px);
    bottom: 0px;
    left: 0px;
    text-align: right;
    display: none;
}
.editor {
    margin: 0;
    padding: 10px;
    max-width: 100%;
    min-height: 355px;
    max-height: 350px;
    overflow: auto;
}
.btn {
    font-size: 18px;
    font-weight: 500;
    border: none;
    padding: 0;
    border-radius: 5px;
    color: white;
    background-color: #3845B3;
    cursor: pointer;
}
.visible {
    display: inline-block;
}
.editor.style-scroll span {
    display: block;
}
.editor.style-scroll .error-text {
    color: #FF3E2D;
}
.header-text {
    font-size: 20px;
    line-height: 32px;
    font-weight: 500;
    margin-bottom: 40px;
}
.first-section {
    text-align: center;
}
@media(max-width:1640px){
    .card {
        max-width: 90%;
    }
}
.download-link {
    text-decoration: none;
    color: white;
    padding: 12px 70px;
    display: block;
}
@media(max-width:1199px){
    .second-section.flex {
        display: block;
    }
    .left-wrapper {
        width: 100%;
        margin-right: 0;
    }
    .editor-wrapper {
        width: 100%;
    }
    .editor{
        width: 100%;
        min-width: none;
        max-width: 100%;
    }
}
@media (max-width: 900px) {
    .card.flex {
        flex-direction: column;
    }
    .badge {
        width: 100%;
        max-width: calc(100% - 30px);
    }
    .left-wrapper {
        margin: 0;
        max-width: 100%;
    }
}
@media(max-width:575px){
    .card {
        max-width: 95%;
        padding: 16px;
    }
}