PORT=4000
NODE_ENV="production"
APP_NAME="Alian Hub"
SERVICE_FILE="../firebase-adminsdk.json"
WASABIENDPOINT="https://s3.wasabisys.com"
WASABI_REGION="us-east-1"
IAM_ENDPOINT="https://iam.wasabisys.com"
CANYONAPIURL="https://console.alianhub.com"
USERPROFILEBUCKET="userimageproduction68f8584f54b3270f862a82e0"
JWT_EXP="24h"
JWT_ALGORITHM="HS256"
NOOFPRESETCOMPANY=10
CANYONLICENSETYPE="Extended License"
CANYONLICENSEKEY="VWiQhmwZJF"
CANYONLICENSEID="68f8584f54b3270f862a82dd"
CANYON_IS_SINGLE_APP="false"
APIURL="http://localhost:4000/"
MONGO_CLOUD_URL="https://cloud.mongodb.com/api"
PADDLE_URL="https://api.paddle.com"
JWT_SECRET="16a2d63c8b7434910690a7e0a5c53145"
PRECOMPANYKEY="3fdafc77"
WEBURL="http://localhost:4000"
MONGODB_URL="mongodb://127.0.0.1:27017"
WASABI_SECRET_ACCESS_KEY=""
WASABI_ACCESS_KEY=""
WASABI_USERID=""
STORAGE_TYPE="server"
APIKEY="AIzaSyB-9H2W970ytXWpCgha166Dqw5fevQIuKs"
AUTODOMAIN="hoanggiang-1751686841324.firebaseapp.com"
PROJECTID="hoanggiang-1751686841324"
STORAGEBUCKET="hoanggiang-1751686841324.firebasestorage.app"
MESSAGINGSENDERID="814216496057"
APPID="1:814216496057:web:e62580751f653ba518ac68"
MEASUREMENTID="G-S2SZ3QWG7L"
AI_API_KEY=""
AI_MODEL=""
NODEMAILER_EMAIL="phanductrong1008@gmail.com"
NODEMAILER_EMAIL_PASSWORD="kxwwyashnytkufbo"
NODEMAILER_HOST="smtp.gmail.com"
NODEMAILER_PORT=587
